{% extends 'base1.html' %}
{% block content %}
<h1>About Us</h1>
<p><h4>We are a financial services group which caters to people investing in, or speculating upon equity derivatives, primarily futures and options. 
On signing up to our platform, you will gain access to extremely organised and consistent data about futures and options on the NSE.  
Sectorwise demarcation of these derivatives is also present and the performance of each sector is monitored. 
The top 3 most volatile futures and options are monitored, in both directions.</h4>
</p>
{% endblock %}
