<html>
<head>
<title>DashBoard </title>
<body>
{% extends 'base1.html' %}
{% block content %}
  <center>
<p><a href="http://127.0.0.1:8000/Equity/InvFuture/"><button type="button">Invest Futures</button></a></p>
<p><a href="http://127.0.0.1:8000/Equity/InvOption/"><button type="button">Invest Options</button></a></p>
<p><a href="http://127.0.0.1:8000/Equity/SectorwisePerformances/"><button type="button">Sectorwise Performance</button></a></p>
<p><a href="http://127.0.0.1:8000/Equity/MostVolatileDeriavatives/"><button type="button">Most Volatile Deriavatives</button></a></p>
<p><a href="http://127.0.0.1:8000/Equity/SpecificDeriavatives/"><button type="button">Details of Specific Deriavatives</button></a></p>
   </center>
{% endblock %}
</body>
</head>
</html>