{% extends 'base1.html' %}
<title>Invest Options</title>
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
					<h3>Select</h3>
					{% if form.errors %}
						<p style="color: red">Erroneous Input</p>
					{% endif %}
					<form class="form-horizontal" role="form" action="http://127.0.0.1:8000/Equity/InvOption/" method="post">
						{% csrf_token %}
						 {% for field in form %}
							  <p>
								<div class="form-group">
									<label class="control-label col-sm-2">
										{{ field.label_tag }}
									</label>
									<div class="col-sm-10">
										{{ field }}
									</div>
									{% if field.help_text %}
									  <small style="display: none">{{ field.help_text }}</small>
									{% endif %}
									{% for error in field.errors %}
									  <p style="color: red">{{ error }}</p>
									{% endfor %}
								  </p>
								 </div>
							  {% endfor %}
						 <input  type="submit" value="Submit"> 
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<p style="color: red">{{e}}</p>
<div class="container-fluid">
<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>Expiry Date</th>
                                <th>Open</th>
                                <th>High</th>
                                <th>Low</th>
								<th>Close</th>
								<th>SettlePrice</th>
								<th>OpenI</th>
								<th>TimeStamp</th>
								<th>DeltaOI</th>
							</tr>
                        </thead>
                        <tbody>
					{% for deriavative in d %}
					<tr>
						
						<td>{{deriavative.symbol}}</td>
						<td>{{deriavative.exp_dt}}</td>
						<td>{{deriavative.Open}}</td>
						<td>{{deriavative.high}}</td>
						<td>{{deriavative.low}}</td>
						<td>{{deriavative.close}}</td>
						<td>{{deriavative.settlePrice}}</td>
						<td>{{deriavative.openI}}</td>
						<td>{{deriavative.TimeS}}</td>
						<td>{{deriavative.deltaOI}}</td>
					</tr>
					{% endfor %}
				     </tbody>
                     </table>
                </div>
             </div>
        </div>
    </div>
</div>
{% endblock %}